/* 
    Document   : survey
    Created on : Nov 7, 2012, 9:18:07 PM
    Author     : andrew
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    font-family: Century Gothic, sans-serif;
}

h1 {
    margin-bottom: 16px;
}

form .section {
    cursor:pointer;
}

form .section>div {
    cursor: default;
}

.leftselect {
    float:left;
    margin:0px;
    padding:0px;
    border: 0px;
}

.selectbuttons {
    padding-top: 20px;
    float:left;
    width: 120px;
    text-align: center;
}

.rightselect {
    float:left;
    padding-top: 20px;
    margin:0px;
    border: 0px;
}

.trackadd,
.trackremove {
    width: 100px;
    background-color: #669;
    color: #fff;
}

.leftselect input,
.rightselect input{
    width: 200px;
}

.trackfrom {
    width: 250px;
}

.trackto {
    width: 250px;
}

#frmComments {
    width: 550px;
    height: 50px;
}

#frmSubmit {
    display:block;
    width: 100px;
    height: 40px;
    background-color: #669;
    color:#fff;
    font-size:24px;
    margin: 30px auto 0px auto;

}


.messages {
    display:none;
    margin:8px 4px;
    background-color:#cc0;
    color:#333;
}

.section {
    width: 0px;
    float:left;
    display:block;
    height:350px;
    overflow: hidden;
    padding-left: 50px;
    padding-top: 0px;
    padding-bottom:0px;
}

.section>div{
    height: 350px;
}

.section p {
    margin-bottom: 18px;
    font-size: 0.8em;
}


.section>div{
    width:652px;
    padding:4px;
}

.section h3 {
    margin:0px;
    color: #fff;
    padding:4px;
}

#about_you-section {
    width: 660px;
    background:#ffffff url('http://media.fullofwishes.co.uk/images/survey2012/about_you.png') no-repeat left top;
    border-bottom:4px solid #990000;
    border-right:4px solid #990000;
}

#about_you-section h3 {
    background-color: #990000;
}

#galaxie_500-section {
    background:#ffffff url('http://media.fullofwishes.co.uk/images/survey2012/galaxie_500.png') no-repeat left top;
    border-bottom:4px solid #000033;
    border-right:4px solid #000033;
}

#galaxie_500-section h3 {
    background-color: #000033;
}

#luna-section {
    background:#ffffff url('http://media.fullofwishes.co.uk/images/survey2012/luna.png') no-repeat left top;
    border-bottom:4px solid #cc3300;
    border-right:4px solid #cc3300;
}

#luna-section h3 {
    background-color: #cc3300;
}


#damon_and_naomi-section {
    background:#ffffff url('http://media.fullofwishes.co.uk/images/survey2012/damon_and_naomi.png') no-repeat left top;
    border-bottom:4px solid #4a462b;
    border-right:4px solid #4a462b;
}

#damon_and_naomi-section h3 {
    background-color: #4a462b;
}

#dean_and_britta-section {
    background:#ffffff url('http://media.fullofwishes.co.uk/images/survey2012/dean_and_britta.png') no-repeat left top;
    border-bottom:4px solid #d47d39;
    border-right:4px solid #d47d39;
}

#dean_and_britta-section h3 {
    background-color: #d47d39;
}

#finish_up-section {
    background:#ffffff url('http://media.fullofwishes.co.uk/images/survey2012/finish_up.png') no-repeat left top;
    border-bottom:4px solid #3e3d3d;
    border-right:4px solid #3e3d3d;
}

#finish_up-section h3 {
    background-color: #3e3d3d;
}

#surveySummary {
    width:500px;
    margin:20px auto;
}

#surveySummary th {
    font-weight:bold;
}

#surveySummary td,
#surveySummary th {
    text-align: left;
    font-size: 12px;
    border-collapse:collapse;
    border:1px solid #ccc;
    padding:2px;

}

.surveyalbumbox {
    width: 600px;
    padding-bottom: 20px;
}

.surveyalbumimage {
    float:left;
    width:200px;
    border:0;
    margin:0 8px 0 0;
    text-decoration: line-through;
}

.surveyalbumdetails {
    padding: 8px;
}

ol {
    list-style: decimal;
}
ol>li {
    margin-left: 40px;
}


#survey_results table {
    border-collapse: collapse;
    border: 1px solid grey;
    width: 500px;
}

#survey_results th {
    padding: 4px;
    font-weight: bold;
    border: 1px solid grey;
}

#survey_results td {
    padding: 4px;
    font-weight: normal;
    border: 1px solid grey;
}

#survey_results_menu {
    padding-top: 80px;
    width: 200px;
    float:left;
}

#survey_results_years {
    padding-top: 80px;
    width: 100px;
    float:left;
   
}

#survey_results_menu li a{
    display: block;
    width: 191px;
    height: 25px;
    line-height: 25px;
    padding: 4px;
    border-width: 2px 0px 2px 2px;
    border-style:solid;
    border-color: #000080;
    margin-bottom: 4px;
}

#survey_results_years li a{
    display: block;
    width: 91px;
    height: 25px;
    line-height: 25px;
    padding: 4px;
    border-width: 2px 2px 2px 0px;
    border-style:solid;
    border-color: #000080;
    margin-bottom: 4px;

}
    
#survey_results_years li a:link,
#survey_results_menu li a:link {
    text-decoration: none;
    color: #669;
}
#survey_results_years li a:active,
#survey_results_menu li a:active {
    text-decoration: none;
}
#survey_results_years li a:visited,
#survey_results_menu li a:visited {
    text-decoration: none;
    color: #669;
}
#survey_results_years li a:hover,
#survey_results_menu li a:hover {
    text-decoration: none;
}

#survey_results_years li a.active,
#survey_results_menu li a.active {
    color: #fff;
    background-color: #000080;
}

#survey_results {
    width: 550px;
    padding: 0px;
    float:left;
    border: 4px solid #000080;
    margin-bottom: 16px;
    min-height: 600px;
}

#survey_results h2 {
    padding: 4px;
    margin: 0px;
    height: 68px;
    font-size: 32px;
    background-color:#000080;
    color: #fff;
    line-height: 68px;
}

#survey_results h3 {
    padding: 4px;
    margin: 0px;
    height: 24px;
    font-size: 24px;
    line-height: 24px;
    border-bottom: 2px solid #000;
    margin-bottom: 16px;
    font-weight: normal;

}

#survey_results>div>div {
    padding: 8px;
}

.surveyalbumdetails span.votes {
    font-size: 64px;
    color: #0A246A
}

#survey_results li.first {
    font-size: 32px;
    color: #0A246A;
}

#survey_results li {
    padding: 4px;
}

.summary_section{
    margin-bottom: 32px;
}

.album_title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;

}

#summary p {
   margin-bottom: 8px;
}