/* 
    Document   : survey
    Created on : Nov 7, 2012, 9:18:07 PM
    Author     : andrew
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    font-family: Century Gothic, sans-serif;
}

#survey-outer-container {
	background-color: #ccf;
	width: 100%;
	padding: 8px 0;
}

#survey-inner-container {
	max-width: 660px;
	margin: 0px auto;
	background-color: #fff;
	padding: 8px;
	border:1px solid #339;
	}


h1 {
    margin-bottom: 16px;
}

h1.survey {
		margin-left: 0px;
}


.leftselect {
    margin:0px;
    padding:0px;
    border: 0px;
}

.selectbuttons {
	padding: 8px 0px 0px;
    text-align: center;
}

.rightselect {
    margin:0px;
    border: 0px;
}

.trackadd,
.trackremove {
	font-size: 1.3em;
    background-color: #669;
    color: #fff;
}

.leftselect input,
.rightselect input{
}

.trackfrom {
	width:100%;
   max-width: 650px;
}

.trackto {
	width:100%;
	max-width: 650px;
}

#frmComments {
	width:100%;
	max-width:550px;
	height: 50px;
    margin:20px auto;
}

#frmSubmit {
    display:block;
    width: 100px;
    height: 40px;
    background-color: #669;
    color:#fff;
    font-size:24px;
    margin: 30px auto 0px auto;

}

.section>div>div {
	width:100%;
}
.messages {
    display:none;
    margin:8px 4px;
    background-color:#cc0;
    color:#333;
}

.section {
	margin-top:8px;
    display:block;
}


.section p {
    margin-bottom: 18px;
    font-size: 0.8em;
}


.section>div{
	width: 100%;
    max-width:650px;
    padding:4px;
}

.section h3 {
    margin:0px;
    color: #fff;
    padding:4px;
}

#about_you-section {
    max-width: 660px;
    border-left:4px solid #990000;
}

#about_you-section h3 {
    background-color: #990000;
}

#galaxie_500-section {
    border-left:4px solid #000033;
}

#galaxie_500-section h3 {
    background-color: #000033;
}

#luna-section {
    border-left:4px solid #cc3300;
}

#luna-section h3 {
    background-color: #cc3300;
}


#damon_and_naomi-section {
    border-left:4px solid #4a462b;
}

#damon_and_naomi-section h3 {
    background-color: #4a462b;
}

#dean_and_britta-section {
    border-left:4px solid #d47d39;
}

#dean_and_britta-section h3 {
    background-color: #d47d39;
}

#finish_up-section {
    border-left:4px solid #3e3d3d;
}

#finish_up-section h3 {
    background-color: #3e3d3d;
}

#surveySummary {
	width:100%;
    max-width:500px;
    margin:20px auto;
}

#surveySummary th {
    font-weight:bold;
}

#surveySummary td,
#surveySummary th {
    text-align: left;
    font-size: 12px;
    border-collapse:collapse;
    border:1px solid #ccc;
    padding:2px;

}
